{% extends "base_generic.html" %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    
    <form method="post">
        {% csrf_token %}
        
        <!-- вывод непредвиденных ошибок -->
        {% if form.non_field_errors %}
            <div style="color: red;">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <table border="0">
            {{ form.as_table }} 
        </table>
        
        <br>
        <button type="submit">Выполнить</button>
    </form>
{% endblock %}